@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes desaparecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slide-left {
    from {
        transform: translateX(calc(100% + 25px));
    }
    to {
        transform: translateX(0px);
    }
}
@keyframes slide-right {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100%);
    }
}

/*HEADER*/
.open:hover, .close:hover{
    cursor: pointer;
}

#menu-button:checked ~ nav {
    animation: aparecer 1s ease-in forwards,
    slide-left 1.1s ease-in-out forwards;
}
#menu-button:not(:checked) ~ nav {
    animation: desaparecer 1s ease-in forwards,
    slide-right 1.1s ease-in-out forwards;
}
.menu a:hover{
    border-bottom: 2px solid var(--naranja);
    transition: all 0.3s ease;
}