@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes desaparecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes slide-left {
    from {
        transform: translateX(calc(100% + 2.5rem));
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes slide-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc((100%)*-1));
    }
}
@keyframes slide-down {
    from {
        transform: translateY(calc((100%)*-1));
    }
    to {
        transform: translateY(0);
    }
}
@keyframes blink{
    to{
        visibility: hidden;
    }
}

html {
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

/*BOTONES*/
.boton{
    transition: all 0.2s ease-out;
}
.boton:hover{
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    transform: translateY(-2px);
    transition: all 0.2s ease-out;
}
.lleno-amarillo:hover{
    transition: all 0.2s ease-out;
}
.lleno-naranja:hover{
    transition: all 0.2s ease-out;
}
.vacio-amarillo:hover{
    color: var(--oscuro);
    background-color: var(--amarillo);
    transition: all 0.2s ease-out;
}
.vacio-oscuro:hover{
    color: var(--amarillo);
    background-color: var(--oscuro);
    transition: all 0.2s ease-out;
}
.send:hover{
    color: var(--oscuro);
    background-color: var(--amarillo);
    transition: all 0.2s ease-out;
}
.send .icon{
    transition: all 0.2s ease-out;
}
.send:hover .icon{
    transform: translateX(2rem) rotate(45deg) scale(1.8);
    transition: all 0.2s ease-out;
}
.send span{
    animation: aparecer .1s ease-out forwards;
}
.send:hover span{
    animation: desaparecer .1s ease-out forwards;
}

/*HEADER*/
@media (max-width: 992px) {
    #menu-button:checked ~ nav {
        animation: aparecer 1s ease-in forwards,
        slide-left 1.1s ease-in forwards;
    }
    #menu-button:not(:checked) ~ nav {
        animation: desaparecer 1s ease-out forwards,
        slide-right 1.1s ease-out forwards;
    }
}

.open:hover, .close:hover{
    cursor: pointer;
}
.menu a:hover{
    border-bottom: .2rem solid var(--naranja);
    transition: all 0.3s ease;
}
/*ABOUT US*/

.personas .glass{
    animation: aparecer .5s ease-in forwards;
}
.personas:hover .glass{
    animation: desaparecer .5s ease-out forwards;
}

/*EXPERIENCES*/

.actividad .glass{
    animation: aparecer .5s ease-in forwards;
}
.actividad:hover .glass{
    animation: desaparecer .5s ease-out forwards;
}

/*CONTACTO*/

.formTouple input, .formTouple textarea{
    transition: all 0.3s ease;
}
input:hover, textarea:hover, input:focus, textarea:focus{
    background-color: var(--claro);
    transition: all 0.3s ease;
    border-bottom: .3rem solid var(--naranja );
    transition: all 0.3s ease;
}

/*FOOTER*/
#footer .contact-classic li{
    transition: all 0.3s ease;
}
#footer .contact-classic li:hover{
    color: var(--naranja);
    transition: all 0.3s ease;
}

#footer .contact-social i{
    transition: all 0.3s ease;
}
#footer .contact-social i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease;
}
#footer .contact-social i:nth-child(1):hover{
    color: #3b5998;
}
#footer .contact-social i:nth-child(2):hover{
    color: #00acee;
}
#footer .contact-social i:nth-child(3):hover{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
}