@media (max-width: 992px) {
    .menu nav {
        position: absolute;
        top: 100px;
        right: 0px;
        width: 100%;
        background-color: var(--gris);
        padding: 10px 0;
    }
    .menu .links{
        display: flex;
        justify-content: space-around;
        gap: 15px;
        max-width: 1500px;
    }
    .menu a{
        border-bottom: 2px solid var(--gris);
        transition: all 0.3s ease;
    }
    .menu .open{
        display: flex;
        font-size: 36px;
    }
    
    #menu-button:checked ~ .open {
        display: none;
    }
    
    #menu-button:checked ~ .close {
        display: flex;
        font-size: 36px;
    }
    #menu-button:not(:checked) ~ .close {
        display: none;
    }
}

@media (max-width: 756px) {
    .menu nav {
        width: 30%;
        padding: 35px 25px;
    }
    .menu .links{
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 35px;
    }
}