:root{
    --oscuro: #1A1819;
    --gris: #767568;
    --claro: #F5F4F4;
    --amarillo: #ffcc03;
    --naranja: #ec663b;
    --gradiente: linear-gradient(to right, #ffcc03, #ec663b);

    --fuenteRebelde: 'Covered By Your Grace', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

html{
    background: var(--claro);
    color: var(--oscuro);
}
main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section{
    margin: 25px 0;
    padding: 0 25px;
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}
section:first-child{
    margin-top: 0px;
}
section:last-child{
    margin-bottom: 50px;
}
/* BOTONES */
.boton{
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
    border-radius: 3px;
    width: fit-content;
}
.vacio-amarillo{
    color: var(--amarillo);
    border: solid 2px var(--amarillo);
}
.lleno-amarillo{
    color: var(--oscuro);
    background-color: var(--amarillo);
}
.vacio-naranja{
    color: var(--naranja);
    border: solid 2px var(--naranja);
}
.lleno-naranja{
    color: white;
    background-color: var(--naranja);
}

/* RESALTADORES */
.high-amarillo{
    background-color: var(--amarillo);
}
.high-naranja{
    background-color: var(--naranja);
}

/* COLORES DE TEXTO*/
.naranja{
    color: var(--naranja);
}
.amarillo{
    color: var(--amarillo);
}



#header{
    z-index: 2;
    background-color: var(--claro);
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(38, 38, 38 , .5);
}
.logo{
    max-height: 70px;
}
.navbar{
    max-height: 100%;
    padding: 15px 25px;
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex;
}
.links{
    display: flex;
    gap: 40px;
}
.links a{
    color: var(--oscuro);
    font-weight: 400;
    border-bottom: 2px solid var(--claro);
    transition: all 0.3s ease;
}
#menu-button, .open, .close{
    display: none;
}

#hero{
    position: relative;
    background: url(../img/hero2.jpeg);
    background-size: cover;
    background-position: top;
    padding: 100px 0 40px 60px;
    color: var(--oscuro);
}

#hero .content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

#hero .title{
    display: flex;
    align-items: flex-end;
    max-width: 500px;
}
#hero .title img{
    height: 190px;
}

#hero h1{
    font-size: 63px;
    font-weight: 900;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 25px;
}
#hero h1 span{
    font-size: 75px;
    font-family: var(--fuenteRebelde);
    text-transform: capitalize;
}

#hero .content .hero-text{
    font-size: 18px;
    margin-bottom: 20px;
}
#hero h1, #hero .hero-text{
    text-shadow: 1px 1px 1px var(--oscuro);
}


#hero .glass{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.filtro--amarillo{
    background: rgba(255, 204, 3, 0.7);
}
.filtro--naranja{
    background: rgba(236, 102, 59, 0.7);
}
.filtro--blur{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
