/******************GLOBALES******************/
:root{
    --oscuro: rgb(26, 24, 25);
    --gris: rgb(118, 117, 104);
    --grisclaro: rgb(220, 218, 218);
    --claro: rgb(245, 244, 244);
    --amarillo-claro: #FFE43E;
    --amarillo: rgb(255, 204, 3);
    --amarillo-oscuro: #C99501;
    --naranja-claro: #F79569;
    --naranja: rgb(236, 102, 59);
    --naranja-oscuro: rgb(187, 56, 25);
    --gradiente: linear-gradient(to right, #ffcc03, #ec663b);

    --fuenteRebelde: 'Covered By Your Grace', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

html{
    background: var(--claro);
    font-size: 62.5%; /*1 rem = 10px*/
}

main {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    background: var(--naranja);
    border-radius: 1rem;
}

.container{
    margin: 4rem auto;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 200rem;
    gap: 2rem;
}
section:first-child{
    margin: 0;
}
section:last-child{
    margin-bottom: 5rem;
}
section:nth-child(odd){
    background-color: var(--grisclaro);
}
.sect-title{
    align-self: flex-start;
    font-size: 4.5rem;
    /* font-family: var(--fuenteRebelde); */
    font-weight: 700;
    color: var(--naranja);
    text-shadow: .1rem .2rem .1rem var(--oscuro);
    line-height: 2.5rem;
    margin-top: 3rem;
    text-transform: uppercase;
}
.sect-paragraph{
    font-size: 1.8rem;
    text-align: justify;
    text-indent: 1.5em;
}
.minor-title{
    font-size: 3.5rem;
    color: var(--amarillo);
    text-shadow: .1rem .1rem .1rem var(--oscuro);
}
.t-sha{
    text-shadow: .1rem .1rem .1rem var(--oscuro);
}
/* BOTONES */
.boton{
    padding: 1rem 3rem;
    text-align: center;
    font-weight: 500;
    border-radius: .3rem;
    width: fit-content;
}
.vacio-amarillo{
    color: var(--amarillo);
    border: solid .2rem var(--amarillo);
}
.lleno-amarillo{
    color: var(--oscuro);
    background: var(--amarillo);
}
.vacio-naranja{
    color: var(--naranja);
    border: solid .2rem var(--naranja);
}
.vacio-google{
    color: rgb(101, 101, 101);
    border: solid .2rem rgb(101, 101, 101);
}
.vacio-fb{
    color: rgb(66, 103, 178);
    border: solid .2rem rgb(66, 103, 178);
}
.lleno-naranja{
    color: white;
    background: var(--naranja);
}
.vacio-gris{
    color: var(--gris);
    border: solid .2rem var(--gris);
}
.vacio-oscuro{
    color: var(--oscuro);
    border: solid .2rem var(--oscuro);
}

/* RESALTADORES */
.high-amarillo{
    background-color: var(--amarillo);
}
.high-naranja{
    background-color: var(--naranja);
}

/* COLORES DE TEXTO*/
.naranja{
    color: var(--naranja);
}
.amarillo{
    color: var(--amarillo);
}

/*FILTROS*/
.glass{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.filtro--amarillo{
    background: var(--amarillo);
}
.filtro--gris{
    background: var(--gris);
}
.filtro--amarillo-grad{
    background: linear-gradient(to bottom, var(--amarillo), var(--amarillo), var(--amarillo),  var(--oscuro));
    opacity: 0.7;
}
.filtro--gris-left{
    background: linear-gradient(150deg, var(--gris) 90%,  rgba(26, 24, 25, .4));
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.filtro--gris-right{
    background: linear-gradient(to right, var(--gris) 80%,   rgba(26, 24, 25, .7));
}
.filtro--naranja{
    background: rgba(236, 102, 59, 0.3);
}
.filtro--blur{
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
}

/*CARDS*/
.card{
    display: flex;
    color: white;
}
.card .circle-frame{
    border-radius: 50%;
}

/******************HEADER******************/
#header{
    z-index: 2;
    background-color: var(--claro);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 100vw;
    box-shadow: 0 0 .5rem 0 rgba(38, 38, 38 , .5);
}
.logo{
    max-height: 7rem;
}
.navbar{
    max-height: 100%;
    padding: 1.5rem 2.5rem;
    width: 100%;
    max-width: 200rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex;
}
.links{
    display: flex;
    gap: 4rem;
}
.links a{
    color: var(--oscuro);
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: .2rem solid var(--claro);
    transition: all 0.3s ease;
}
#menu-button, .open, .close{
    display: none;
}
#header .glass{
    display: none;
    top: 7rem;
    height: 100vh;
}
/******************PORTADA******************/
#hero{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/hero2.jpeg);
    background-size: cover;
    padding: 13rem 0 4rem 1rem;
    color: var(--oscuro);
    overflow: hidden;
}

#hero .content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    color: white;
}

#hero .title{
    display: flex;
    align-items: flex-end;
    max-width: 50rem;
}
#hero .title img{
    height: 19rem;
}

#hero h1{
    font-size: 7rem;
    font-weight: 900;
    line-height: 4rem;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    width: min-content;
}
#hero h1 span{
    font-size: 9rem;
    font-weight: 400; /*sino hereda 900 en mobile*/
    font-family: var(--fuenteRebelde);
    text-transform: capitalize;
}

#hero .content .hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 500;
    text-align: center;
    font-size: 2.2rem;
    margin-top: -3rem;
}

.glass{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

/******************ABOUT US******************/

#about, .content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
#about .content > div{
    display: flex;
    gap: 3rem;
}
.content .paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}
.content .botones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

#about .cards{
    display: flex;
    justify-content: center;
    width: 100%;
}

.personas{
    position: relative;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    gap: 2.5rem;
    background: linear-gradient(120deg, rgba(118, 117, 104, .5), rgba(26, 24, 25, .7), rgba(26, 24, 25, .7) 75%, rgba(118, 117, 104, .5)), url(../img/hero2.jpeg);
    background-size: cover;
}
.personas .content{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.personas .first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.personas .profile{
    width: 15rem;
    height: 15rem;
    border: solid .4rem;
    border-radius: 50%;
}
.personas .last-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 1.5rem;
}
.personas h4{
    font-family: var(--fuenteRebelde);
    font-size: 4rem;
    line-height: 3rem;
}
.personas li{
    font-style: italic;
    font-weight: 300;
}

.why{
    padding: 2.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: linear-gradient(170deg, rgba(118, 117, 104, 1), rgba(118, 117, 104, 1) 5%, rgba(26, 24, 25, .7) 85%, rgba(118, 117, 104, 1)), url(../img/pqrebel.jpg);
    background-size: cover;
    background-position: center;
}


/******************EXPERIENCIAS******************/
#experiences{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#experiences .text{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#experiences h2{
    margin-top: -1rem;
    line-height: 6rem;
}

#experiences .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.actividad{
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    min-width: 50rem;
    max-width: 80rem;
    padding: 2.5rem;
}
.actividad:nth-child(1), .actividad:nth-child(4){
    color: var(--oscuro);
}
.actividad:nth-child(1){
    background: linear-gradient(120deg, rgba(255, 204, 3, .6), rgba(255, 204, 3, .9)), url(../img/exp1.png);
    background-position: bottom;
    background-size: cover;
}
.actividad:nth-child(2){
    background: linear-gradient(120deg, rgba(26, 24, 25, .6), rgba(118, 117, 104, .9)), url(../img/exp2.png);
    background-position: center;
    background-size: cover;
}
.actividad:nth-child(3){
    background: linear-gradient(120deg, rgba(26, 24, 25, .6), rgba(118, 117, 104, .9)), url(../img/exp3.png);
    background-position: center;
    background-size: cover;
}
.actividad:nth-child(4){
    background: linear-gradient(120deg, rgba(255, 204, 3, .6), rgba(255, 204, 3, .9)), url(../img/exp4.png);
    background-position: bottom;
    background-size: cover;
}
.actividad .content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; /*para que el boton quede al final*/
}

.actividad .first-part{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.actividad h3{
    font-size: 2.4rem;
}

.actividad p{
    text-align: justify;
}

/******************CONTACTO******************/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#contact h2{
    margin-bottom: 1rem;
}
#contact form{
    width: 100%;
    height: 50rem;/*para poder darle un tamaño en porcentaje al textarea*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--grisclaro);
    padding: 2rem;
}
form .first, form .last{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
form .last{
    align-items: flex-end;
    height: 100%;
}
form .last .formTouple{
    height: 100%;
}
form .formTouple{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
form .checkTouple{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.formTouple input, .formTouple textarea{
    border: none;
    background-color: transparent;
    padding: .5rem;
    border-bottom: .3rem solid var(--gris);
}
form .first .nya{
    display: flex;
    width: 100%;
    gap: 2rem;
}

#tel{
    -moz-appearance: textfield;
    appearance: textfield;
}
#tel::-webkit-outer-spin-button,
#tel::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.formExp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
#msj{
    height: 100%;
    max-width: 100%;
    overflow: auto;
    resize: none;
}
form input:not(input[type="checkbox"]), form textarea{
    width: 100%;
}
.send{
    border: none;
}

/******************FOOTER******************/
#footer{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-color: var(--grisclaro);
    
}
#footer .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin: 0;
    height: 100%;
}

#footer > a{
    display: flex;
    align-items: center;
    height: 100%;
}
#footer a .logo{
    max-height: 15rem;
}
#footer .contact-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #ffcc03, #ec663b) 1;
}
#footer .contact-classic, #footer .contact-social{
    display: flex;
    gap: 1.5rem;
    
}
#footer .contact-classic{
    flex-direction: column;
}
#footer .contact-classic li a{
    color: var(--oscuro);
}
#footer .contact-classic li a{
    padding-left: 1rem;
}
#footer .contact-social{
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}

#footer .copy{
    border-top: 1px solid var(--claro);
    color: var(--claro);
    width: 100%;
    text-align: center;
}


/*LOGIN Y REGISTER*/
#login, #register{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(220, 218, 218, .5) 85%,  var(--oscuro)) , url(../img/log-reg.jpg);
    background-position: top;
    background-size: cover;
}
#login h1, #register h1{
    font-family: var(--fuenteRebelde);
    font-size: 3rem;
    color: var(--amarillo);
}
#login form, #register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background: var(--claro);
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
form .data{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
form .botones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

#login .boton, #register .boton{
    width: 100%;
}

#login p a, #register p a{
    color: var(--oscuro);
    font-weight: 700;
}